<%-include("header")  -%>
<div class="text-center">
<h1 class="text-dark vis">Rahul keshri</h1>
<h4 class="text-dark vis">I am <span class="text-dark vis">MERN STACK </span>Developer</h4>
<p class="text-dark vis">This Todo app is build by me using Backend Express or EJS Template engine....</p>
</div>
<%-include("footer")  -%>