</body>
<footer>
    <div class="text-center " >
    <a class="icons" href="https://www.linkedin.com/in/rahul-keshri-814bb8221/"><i class="fa-brands fa-linkedin-in"></i></a>
    <a class="icons" href="https://github.com/keshri522"><i class="fa-brands fa-github"></i></a>
</div>
   <span style="display: block;"> copy@ Rahul Keshri 2023</span>
</footer>
</html>